n8n-workflows/prediction/Football_Prediction_AI.json
{
  "name": "Football Prediction AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "football-prediction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "football-prediction"
    },
    {
      "parameters": {
        "url": "=https://ypddcrvjeeqavqpcypoa.supabase.co/rest/v1/team_season_stats?team_id=eq.{{ $json.body.home_team_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headerParameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              }
            ]
          }
        }
      },
      "id": "fetch-home-stats",
      "name": "Fetch Home Team Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "=https://ypddcrvjeeqavqpcypoa.supabase.co/rest/v1/team_season_stats?team_id=eq.{{ $json.body.away_team_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headerParameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              }
            ]
          }
        }
      },
      "id": "fetch-away-stats",
      "name": "Fetch Away Team Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "=https://ypddcrvjeeqavqpcypoa.supabase.co/rest/v1/fixtures?team_id=eq.{{ $json.body.home_team_id }}&order=fixture_date.desc&limit=5&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headerParameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              }
            ]
          }
        }
      },
      "id": "fetch-home-form",
      "name": "Fetch Home Team Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "=https://ypddcrvjeeqavqpcypoa.supabase.co/rest/v1/fixtures?team_id=eq.{{ $json.body.away_team_id }}&order=fixture_date.desc&limit=5&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headerParameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              }
            ]
          }
        }
      },
      "id": "fetch-away-form",
      "name": "Fetch Away Team Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "=https://ypddcrvjeeqavqpcypoa.supabase.co/rest/v1/injuries?or=(team_id.eq.{{ $json.body.home_team_id }},team_id.eq.{{ $json.body.away_team_id }})&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headerParameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              }
            ]
          }
        }
      },
      "id": "fetch-injuries",
      "name": "Fetch Injuries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://ypddcrvjeeqavqpcypoa.supabase.co/rest/v1/standings?or=(team_id.eq.{{ $json.body.home_team_id }},team_id.eq.{{ $json.body.away_team_id }})&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headerParameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZGRjcnZqZWVxYXZxcGN5cG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NjMwMjIsImV4cCI6MjA4MjEzOTAyMn0.-QpGyvFoKSn9mTdTy5u9wuUQ_6KoMNwTWt5JtcL9Djc"
              }
            ]
          }
        }
      },
      "id": "fetch-standings",
      "name": "Fetch Standings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-field",
              "name": "ai_prompt",
              "value": "=You are an expert football analyst. Analyze this Premier League match and provide a detailed prediction.\n\n**MATCH DETAILS:**\n{{ $json.body.home_team }} vs {{ $json.body.away_team }}\nDate: {{ $json.body.match_date }}\nVenue: {{ $json.body.venue }}\nRound: {{ $json.body.round }}\n\n**HOME TEAM ({{ $json.body.home_team }}) STATS:**\n{{ $('Fetch Home Team Stats').item.json }}\n\n**AWAY TEAM ({{ $json.body.away_team }}) STATS:**\n{{ $('Fetch Away Team Stats').item.json }}\n\n**HOME TEAM RECENT FORM (Last 5 Matches):**\n{{ $('Fetch Home Team Form').item.json }}\n\n**AWAY TEAM RECENT FORM (Last 5 Matches):**\n{{ $('Fetch Away Team Form').item.json }}\n\n**INJURIES:**\n{{ $('Fetch Injuries').item.json }}\n\n**CURRENT STANDINGS:**\n{{ $('Fetch Standings').item.json }}\n\nBased on all this data, provide a comprehensive prediction in the following JSON format:\n\n```json\n{\n  \"prediction\": \"1\" | \"X\" | \"2\",\n  \"confidence_pct\": 0-100,\n  \"home_win_pct\": 0-100,\n  \"draw_pct\": 0-100,\n  \"away_win_pct\": 0-100,\n  \"over_under_2_5\": \"Over\" | \"Under\",\n  \"btts\": \"Yes\" | \"No\",\n  \"value_bet\": \"string or null\",\n  \"key_factors\": [\"factor1\", \"factor2\", \"factor3\"],\n  \"risk_factors\": [\"risk1\", \"risk2\"],\n  \"analysis\": \"detailed paragraph explaining the prediction\"\n}\n```\n\nConsider:\n- Team form and momentum\n- Home advantage\n- Injury impact on key players\n- Head-to-head history\n- Tactical matchups\n- League position and motivation\n- Expected goals (xG) trends\n- Defensive and offensive strength\n\nProvide ONLY the JSON response, no additional text.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.ai_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "openai-analysis",
      "name": "OpenAI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.message.content;\n\n// Extract JSON from markdown code blocks if present\nlet jsonStr = response;\nconst jsonMatch = response.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (jsonMatch) {\n  jsonStr = jsonMatch[1];\n}\n\n// Parse the JSON response\nconst prediction = JSON.parse(jsonStr);\n\n// Get original webhook data\nconst webhookData = $('Webhook').first().json.body;\n\n// Build final response\nreturn {\n  json: {\n    fixture_id: webhookData.fixture_id,\n    home_team: webhookData.home_team,\n    away_team: webhookData.away_team,\n    match_date: webhookData.match_date,\n    venue: webhookData.venue,\n    prediction: prediction.prediction,\n    confidence_pct: prediction.confidence_pct,\n    probabilities: {\n      home_win_pct: prediction.home_win_pct,\n      draw_pct: prediction.draw_pct,\n      away_win_pct: prediction.away_win_pct\n    },\n    over_under_2_5: prediction.over_under_2_5,\n    btts: prediction.btts,\n    value_bet: prediction.value_bet,\n    key_factors: prediction.key_factors,\n    risk_factors: prediction.risk_factors,\n    analysis: prediction.analysis,\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Home Team Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Away Team Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Home Team Stats": {
      "main": [
        [
          {
            "node": "Fetch Home Team Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Away Team Stats": {
      "main": [
        [
          {
            "node": "Fetch Away Team Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Home Team Form": {
      "main": [
        [
          {
            "node": "Fetch Injuries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Away Team Form": {
      "main": [
        [
          {
            "node": "Fetch Injuries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Injuries": {
      "main": [
        [
          {
            "node": "Fetch Standings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Standings": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-24T00:00:00.000Z",
  "versionId": "1"
}
