n8n-workflows/triggers/Trigger_Post_Match.json
{
  "name": "Trigger_Post_Match",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger/post-match",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "post-match-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://football.analyserinsights.com/api/data/refresh/phase",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phase",
              "value": "post-match"
            },
            {
              "name": "league_id",
              "value": "={{ $json.leagues[0].league_id }}"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "http-postmatch",
      "name": "Post-Match Phase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "football-api-key",
          "name": "Football API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"trigger_type\": \"post-match\",\n  \"leagues\": $('Webhook Trigger').item.json.leagues,\n  \"message\": \"Post-match refresh triggered\"\n} }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Post-Match Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Match Phase": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "football"
    },
    {
      "name": "trigger"
    },
    {
      "name": "post-match"
    }
  ],
  "pinData": {},
  "meta": {
    "instanceId": "football-prediction"
  }
}
