n8n-workflows/sync/Sync_Lineups_Watcher.json
{
  "name": "Sync_Lineups_Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://football.analyserinsights.com/api/data/refresh/phase",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-phase",
      "name": "Check Current Phase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "football-api-key",
          "name": "Football API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-imminent",
              "leftValue": "={{ $json.currentPhase }}",
              "rightValue": "imminent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-imminent",
      "name": "IF Imminent (1h before)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://football.analyserinsights.com/api/data/refresh/lineups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "prematch"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "refresh-lineups",
      "name": "Refresh Lineups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "football-api-key",
          "name": "Football API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://football.analyserinsights.com/api/data/refresh/odds",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "id": "refresh-odds",
      "name": "Refresh Odds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "football-api-key",
          "name": "Football API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://football.analyserinsights.com/api/data/refresh/injuries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "upcoming"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "refresh-injuries",
      "name": "Refresh Injuries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "football-api-key",
          "name": "Football API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "aggregate",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1250, 350]
    },
    {
      "parameters": {
        "content": "=## Imminent Match Sync\n\n**Timestamp:** {{ $now.toISO() }}\n\n### Refreshed\n- Lineups\n- Odds\n- Injuries (upcoming)\n\n### Results\n{{ $json.data.map(r => '- ' + (r.success ? '✓' : '✗')).join('\\n') }}",
        "height": 250,
        "width": 350
      },
      "id": "note-success",
      "name": "Log Results",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1500, 350]
    },
    {
      "parameters": {
        "content": "## Not Imminent Phase\n\nMatch is not imminent (1h before kickoff). Skipping lineups refresh.",
        "height": 100,
        "width": 350
      },
      "id": "note-skip",
      "name": "Skip - Not Imminent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 650]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Check Current Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Phase": {
      "main": [
        [
          {
            "node": "IF Imminent (1h before)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Imminent (1h before)": {
      "main": [
        [
          {
            "node": "Refresh Lineups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Odds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Injuries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - Not Imminent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Lineups": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Odds": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Injuries": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "football"
    },
    {
      "name": "sync"
    },
    {
      "name": "lineups"
    },
    {
      "name": "imminent"
    }
  ],
  "pinData": {},
  "meta": {
    "instanceId": "football-prediction"
  }
}
